alabaster==0.7.12
altgraph==0.17
appdirs==1.4.4
asn1crypto==1.4.0
astroid==2.4.2
async-generator==1.10
atomicwrites==1.4.0
attrs==20.2.0
autopep8==1.5.4
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
boto==2.49.0
boto3==1.16.4
botocore==1.19.4
branca==0.4.0
Brotli==1.0.7
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
cryptography==3.2
cycler==0.10.0
dash==1.20.0
dash-admin-components==0.1.4
dash-bootstrap-components==0.10.1
dash-core-components==1.16.0
dash-extensions==0.0.31
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.12
diff-match-patch==20200713
distlib==0.3.1
docopt==0.6.2
docutils==0.16
endesive==2.0.5
entrypoints==0.3
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
Flask-Caching==1.9.0
Flask-Compress==1.5.0
folium==0.11.0
fpdf==1.7.2
future==0.18.2
googlemaps==4.4.2
GoogleNews==1.4.0
gunicorn==20.0.4
haversine==2.3.0
helpdev==0.7.1
idna==2.10
imagesize==1.2.0
intervaltree==3.1.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.2
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
keyring==21.4.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.4.0
nbclient==0.5.0
nbconvert==6.0.2
nbformat==5.0.7
nest-asyncio==1.4.0
networkx==2.5.1
num2words==0.5.10
numpy==1.18.5
numpydoc==1.1.0
oauthlib==3.1.0
ortools==7.8.7959
oscrypto==1.2.1
packaging==20.4
pandas==1.0.4
pandas-datareader==0.9.0
pandocfilters==1.4.2
paramiko==2.7.2
parso==0.7.0
pathtools==0.1.2
pdfkit==0.6.1
pefile==2019.4.18
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.8.1
pluggy==0.13.1
prompt-toolkit==3.0.7
protobuf==3.13.0
psutil==5.7.2
psycopg2==2.8.5
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.7.0
PyInstaller==3.6
PyKCS11==1.5.10
pylint==2.6.0
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==12.8.1
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.35.0
python-tsp==0.2.1
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.17.0
s3transfer==0.3.4
scipy==1.6.1
seaborn==0.11.1
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.1.5
spyder-kernels==1.9.4
tabulate==0.8.9
testpath==0.4.4
timeago==1.0.14
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
tsplib95==0.7.1
tweepy==3.9.0
ujson==3.2.0
urllib3==1.25.8
vaderSentiment==3.3.2
virtualenv==20.0.31
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wordcloud==1.8.0
wrapt==1.12.1
xlrd==2.0.1
yapf==0.30.0
